.active.elem-st {
    background: darkgreen;
    color: #ffffff;
}

#content {
    overflow: hidden;
    width: 60%;
    margin: 0px auto;
}
.elem-st {
    float: left;
    width: 11%;
    height: 100px;
    font-size: 40px;
    text-align: center;
    line-height: 2.5;
    border: 1px solid #ccc;
    margin: 2px;
    cursor: pointer;
    position:relative;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAa0lEQVQYV2NkgIKmQ37/6+w2MYK4xpnX/h9piWDgFL4E54MZhBSdna7FyEiMIpBhYBNxWQcyCWYjTjchKwK5nRGbw9EVga3+/lbvP7LvsCkCGYbiRlyKdtW2QDwD0oFPkbDUMogbCSkCGQYAka1/qtkEIQkAAAAASUVORK5CYII=) repeat;
}
.matched {
    background: palegreen;
    color: #000;
}
.wrap-all {
    margin-left: 6%;
    overflow: hidden;
}